/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-07-23, 23:09:48
    Author     : micha
*/

[class*="span"] { background: #EEF; }
[class*="span"] [class*="span"] { background: #FEE; }

body { 
    height: 100%;
    background-color: #141617;
    background-image: url('images/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1920px;
    background-position-x: center;
	/*word-wrap: break-word; breaks words in half if too big*/
}
.text-main{
    font-size: 70pt;
    text-align: center;
    color: black;
    opacity: 0.5;
}

@media only screen and (max-width: 733px) {
    body{
        background-size: 550%;
    }
    
    #emptyspace{
        height: 75vh;
    }
	
    .text-main{
        font-size: 50px;
    }
}



.text-inverted{
    color: #dbdbdb;
}

.button {
    background-color: black; 
    opacity: 1;
    border: none;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 220%;
    cursor: pointer;
    float: left;
    outline: none;
}


#navbar .button:hover {
    background-color: green;
    opacity: 1;
}

@keyframes example {
    0%   {}
    100% {transform: translate(0px , 0px);
            opacity: 0.5;}
}

#emptyspace div{
    transform: translate(0px , 200px);
    opacity: 0;
    animation-name: example;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.5s;
}


#main{
    margin-left: 15px;
    margin-right: 15px;
}

#navbar{
    background-color: black;
    opacity: 0.7;
}

#navbar h2 a{
    color: #dbdbdb;
}

#description{
    font-size: 18pt;
    color: #666666;
    margin-top: 20px;
}

#emptyspace{
    height: 95vh;
    padding-top: 10vh;
}
#content{
    background-color: #31b0d5;
    height: 400px;
}

#content2{
    background-color: #1b6d85;
    height: 400px;
}

#content3{
    background-color: #113b48;
    height: 400px;
}